<h1>Pages#index</h1>
<p>Acabo de modificar el archivo app\pages\index.html.erb</p>
<h2>hola mundo</h2>

(c)Copyright <%= Time.now.year %>

<%if Time.now.year >= 2018 %>
    <p>Version 2.0</p>
<%else%>
    <p>Version 1.0</p>
<%end%>